{#{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    #}
{#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{#

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form>
{% endblock %}#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <title>Document</title>
  </head>
  <body class="flex justify-center">
  <img src="/assets/imgs/background.jpeg" alt="">
    <nav class="flex logo">
      <h1>DELTASK</h1>
    </nav>
    <div class="login-wrapper">
      <form class="form" method="post">
        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
          <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
          </div>
        {% endif %}

        <div class="flex flex-col sm:w-[70%] w-[90%]">
          <h2 class="h3 mb-3 font-weight-normal">LOG <span class="font-bold">IN</span></h2>
          {# <label for="inputEmail">Email</label> #}
          <div class="flex items-center">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email" />
            <i class="fa-regular fa-at"></i>
          </div>
          {# <label for="inputPassword">Password</label> #}
          <div class="flex items-center">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password" />
            <i class="fa-solid fa-fingerprint"></i>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        </div>

        {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}

        <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
      </form>
    </div>
  </body>
  <footer>
    <div class="flex justify-center">
      <p>© 2023 DELTASK</p>
    </div>
  </footer>
</html>
