{% extends 'base.html.twig' %}

{% block title %}Priorite index{% endblock %}

{% block body %}
    <h1>Priorite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Niveau_priorite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for priorite in priorites %}
            <tr>
                <td>{{ priorite.id }}</td>
                <td>{{ priorite.niveauPriorite }}</td>
                <td>
                    <a href="{{ path('app_priorite_show', {'id': priorite.id}) }}">show</a>
                    <a href="{{ path('app_priorite_edit', {'id': priorite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_priorite_new') }}">Create new</a>
{% endblock %}
