{% extends 'base.html.twig' %}

{% block title %}Tableau{% endblock %}

{% block body %}
    <h1>Tableau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tableau.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ tableau.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ tableau.createdAt ? tableau.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ tableau.updatedAt ? tableau.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tableau_index') }}">back to list</a>

    <a href="{{ path('app_tableau_edit', {'id': tableau.id}) }}">edit</a>

    {{ include('tableau/_delete_form.html.twig') }}
{% endblock %}
