{% extends 'emails/base.html.twig' %}

{% block content %}
    <h2>Modification d'une tâche</h2>
    <p>Bonjour {{ user.username }},</p>
    <p>La tâche "{{ task.title }}" a été modifiée.</p>
    <p>Voici les détails de la tâche modifiée :</p>
    <ul>
        <li><strong>Titre :</strong> {{ task.title }}</li>
        <li><strong>Description :</strong> {{ task.description }}</li>
        <li><strong>Date de création :</strong> {{ task.createdAt|date('d/m/Y H:i:s') }}</li>
        <li><strong>Date de modification :</strong> {{ task.updatedAt|date('d/m/Y H:i:s') }}</li>
    </ul>
    <p>Bien cordialement,</p>
    <p>L'équipe de notre site</p>
{% endblock %}
