<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tous les tableaux</title>
</head>
<body>
    Tous les tableaux :
    <ul>
        {{ dump(tableaus) }}
        {% for tab in tableaus %}
            <li> id du tableau : {{ tab.id}} | Nom du Tableau : {{ tab.name }}  | Lead Projet :
                <a href="{{ path('adm.board.detail', {id: tab.id}) }}">Details</a>
                <a href="{{ path('adm.board.remove', {id: tab.id}) }}">Remove</a>
                <a href="{{ path('adm.board.edit', {id: tab.id}) }}">Edit</a>
            </li>
        {% endfor %}
    </ul>

</body>
</html>